.jornadaPar{
  background-color: aqua;
  color: whitesmoke;
}
.jornadaImpar{
  background-color: rgb(214, 114, 169);
  color: whitesmoke;
}

table {
  border: 2px solid greenyellow;
  width: 50%;
  margin: auto;
}
thead {
  border: 2px solid blueviolet;
  background-color: chocolate;
}
td {
  text-align: center;
}

