.jornadaPar{
  background-color: aqua;
  color: whitesmoke;
}
.jornadaImpar{
  background-color: rgb(214, 114, 169);
  color: whitesmoke;
}
.jornada{
  padding: 0.5rem;
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
 
.numero-jornada {
  text-align: center;
}
 
.equipos {
  margin-top: 3px;
  text-align: center;
}
 
.partido {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
 
.cab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
